name: Deploy
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: "22"
          registry-url: https://registry.npmjs.org

      - uses: pnpm/action-setup@v4
      - run: pnpm install --frozen-lockfile

      # Ensure npm 11.5.1 or later is installed
      - name: Ensure npm supports trusted publishing
        run: npm install -g npm@latest

      - name: Build
        run: pnpm run build

      - name: Publish to npm
        run: pnpm dlx pkg-pr-new publish
